---
layout: default
---
<link rel="stylesheet" type="text/css" href="css/default.css" />
<link rel="stylesheet" type="text/css" href="css/component.css" />
<script src="js/modernizr.custom.js"></script>

<section class="container-yellow header experiencia" id="about">
	<div class="container">
		<h1>Casos</h1>
		<p>Ya hemos realizado tres Labs Cívicos en Bolivia, Ecuador y Perú, aquí te contamos cómo fueron esas experiencias.</p>
			<ul id="og-grid" class="og-grid">
				{% for card in site.repocards reversed %}
				<li>
					<a href="" data-largesrc="{{card.image}}" data-title="{{card.title}}" data-description="{{card.content}}" class="btn btn-white">
						{% if card.ribbon ==true %}
						<img src="{{ site.baseurl }}/img/ribbon.svg" class="ribbon">
						{% endif %}
						<div class="tarjeta">{% include projectcards.html %}</div>
						Ver más
					</a>
				</li>
				{% endfor %}
			</ul>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="js/grid.js"></script>
	<script>
		$(function() {
			Grid.init();
		});
	</script>
</section>
