<h4>Ecuador</h4>
  {% for member in site.data.2017.ecuador %}
    <div class="col-sm-6 col-md-3 text-center perfil">
      <a href="#" data-toggle="modal" data-target="#myModal-{{ member.uid }}">
      <img src="{{ site.baseurl }}{{ member.image }}" alt="..."></a>
      <ul class="list-unstyled">
        <button type="button" class="btn btn-default btn-sm btn-block" href="#" data-toggle="modal" data-target="#myModal-{{ member.uid }}">{{ member.name }}</button>
        <li>{{ member.organization }}</li>
      </ul>
    </div>
    <div class="modal fade" id="myModal-{{ member.uid }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="text-center">{{ member.name }}</h4>
            <div class="row">
              <div class="col-md-12 text-center">
                <img src="{{ site.baseurl }}{{ member.image }}" alt="...">
              </div>
              <div class="col-md-12">
                <p class="text-center"><span>{{ member.organization }}<br>{{ member.position }}</span></p>
                <p>{{ member.bio }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
