<section class="container-red escuela" id="escuela-ned">
	<div class="container">
	  <h2 class="text-center">Escuela de Incidencia</h2>
	  <div class="row">
		  <div class="col-md-8 col-md-offset-2">
		  <p class="bajada">Queremos que más personas cuenten con las habilidades y experiencia para utilizar la metodología LabCívico. Por eso hemos creado la Escuela de Incidencia, una instancia de formación para liderazgos emergentes en América Latina. A través de la Escuela fomentamos el liderazgo colaborativo y participativo de nuevas generaciones que quieren lograr cambios sociales; al mismo tiempo que transferimos conocimientos y herramientas metodológicas, como la metodología LabCívico, para fortalecer habilidades de incidencia en políticas públicas.</p>
			</div>
			<div class="col-md-12 text-center">
			<a class="btn btn-info" href="http://escueladeincidencia.org" target="_blank" role="button"><span>Más información</span></a>
	  	</div>
  </div>
</section>
