<section class="container-yellow projects">
  <div class="container">
    <h2 class="text-center">Casos</h2>
    <div class="bajada text-center">
      <p></p>
    </div>
    <div class="row">
        {% for card in site.projectcards reversed %}
        <div class="col-sm-6 col-md-4">
          {% if card.ribbon ==true %}
          <img src="{{ site.baseurl }}/img/ribbon.svg" class="ribbon">
          {% endif %}
            <div class="panel panel-default card">
              <img src="{{card.image}}" class="cards-image"></img>
              <div class="tarjeta">{% include projectcards.html %}</div>
            </div>
        </div>
        {% endfor %}
        <div class="text-center"><a class="btn btn-danger" href="{{ site.baseurl }}/casos.html" role="button"><span>Ver todos los casos</span></a></div>
    </div>
  </div>
</section>
